<!DOCTYPE html>
  <html lang="fr">

  <head>
    <meta charset="utf-8">
    <title>Titre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <!-- <link rel="stylesheet" href="style/root.css"> -->
    <!-- <link rel="stylesheet" href="style/style.css"> -->
  </head>

  <body>
    <div id="container">
    </div>

    <script src=""></script>
  </body>
</html>