<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <div><%= message %></div>
    <form method="post" action="sport_create_user">
       <label>name : </label> <input type="text" id="name" name="name" required><br>
       <label>pseudo : </label> <input type="text" id="pseudo" name="pseudo" required><br>
       <label>pass : </label>  <input type="password" id="pass" name="pass" required><br>
       <label>prenom : </label>  <input type="text" id="prenom" name="prenom" required><br>
       <label>tel : </label>  <input type="tel" id="tel" name="tel" required><br>
       <label>poids : </label>  <input type="number" step="0.01" id="poids" name="poids" required><br>
       <label>taille : </label>  <input type="number" step="0.01" id="taille" name="taille" required><br>
       <label>objectif : </label>  <input type="number" step="0.01" id="objectif" name="objectif" required><br>
       <label>confirm pass : </label>  <input type="password" id="confirm_pass" name="pass_confirm" required><br>
       <button id="">sign in</button>
       <aside><%= erreur %></aside>
    </form>
    <script>
        // confirm_pass.addEventListener('change', function(evt){
        //     if(confirm_values.length < pass.value.length){
        //         if(confirm_pass > pass.length){
        //         }
        //     }
        // })
    </script>
</body>
</html>