<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>

<body>
    <style>
          #formCreate {
            display: none;
        }
    </style>
    
    <div><%= message %></div>
    
    <!-- Formulaire de connexion -->
    <form id="log" method="post" action="/confirm">
        <label for="name">Username : </label>
        <input type="text" id="username" name="pseudo" value="killard" required>
        <label for="pass">Password : </label>
        <input type="password" id="pass" name="pass" value="azerty" required>
        <button id="connect">Log in</button>
        <input type="button" id="signin" value="sign in">
   </form>


    <!-- Formulaire d'inscription : caché par défaut -->
    <form id="formCreate" method="post" action="/signin">
        <label>name : </label> <input type="text" id="name" name="name" required>
        <label>pseudo : </label> <input type="text" id="pseudo" name="pseudo" required>
        <label>pass : </label>  <input type="password" id="pass" name="pass" required>
        <label>prenom : </label>  <input type="text" id="prenom" name="prenom" required>
        <label>tel : </label>  <input type="tel" id="tel" name="tel" required><br>
        <label>poids : </label>  <input type="number" step="0.01" id="poids" name="poids" required>
        <label>taille : </label>  <input type="number" step="0.01" id="taille" name="taille" required>
        <label>objectif : </label>  <input type="number" step="0.01" id="objectif" name="objectif" required>
        <input type="hidden" id="avatar" name="avatar" value="https://cdn-icons-png.flaticon.com/128/1077/1077114.png">
        <aside><%= erreur %></aside>
        <button>New User</button>
    </form>

 <script>
    // le formulaire d'inscription s'affiche au clic du bouton
    let form = document.getElementById('formCreate');
    signin.addEventListener('click', ()=>{
        if (form.style.display==="block"){
            form.style.display="none";
        } else {
            form.style.display="block";
        }
    });
 </script>
 
</body>
</html>
