<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= message %></h1>
    <% console.log(storage) %>
  <script>
    // on récupère les données de l'utilisateur à enregistrer dans le cache
    let user = <%- JSON.stringify(storage) %>;
    // on les envoie dans le local storage
    localStorage.setItem('loggedIn', JSON.stringify(user));
  </script>
</body>
</html>