<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <!-- <style>
        #log {
            display: none;
        }
        #sign {
            display: none;
        }
    </style> -->
    <div><%= message %></div><br><br>

    <!-- <input type="button" id="login" value="log in"> -->
    <form id="log" method="post" action="/confirm">
        <label for="name">Username : </label><input type="text" id="username" name="name" value="killard" required></input>
        <label for="pass">Password : </label><input type="password" id="pass" name="pass" value="azerty" required></input>
        <button id="connect">Log in</button>
   </form><br><br>
   <a href="/signin"><input id="modif" type="button" value="SignIn"></a>


</body>
</html>